body {
    position: relative;
    background-color:  #193D49;
    font-family: 'Exo 2', sans-serif;
    margin: 0px 0px 0px 0px;
}

#home{
    background-image: url("fog.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    background: #193D49;
    border-bottom:5px solid #789BB2;
    height: 48px;
    text-align: left;
    width: 100%;
}

.link {
    float: left;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.link a {
    display: block;
    color: #789BB2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.link a:hover {
    background-color: #091B25;
    color: #537687;
}

.home-flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh);
}

#name{
    font-size: 70px;
    text-transform: uppercase;
    color: #e6e6fa;
}

#description{
    color: #e6e6fa;
    margin-top: -10px;
}

.button {
    border: 2px solid transparent;
    border-radius: 4px;
    border-color: #e6e6fa;
    color: #e6e6fa;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 20px;
    margin: 3.75em auto 0 auto;
}

.button:hover{
    background-color: #091B25;
    color: #F5EEF8;
}

.about-flex{
    align-items: center;
    color: #e6e6fa;
    display: flex;
    flex-direction: column;
}

#about-title{
    font-size: 36px;
    margin-top: 65px;
}

.about-content{
    font-size: 20px;
    color: #e6e6fa;
    margin: 0px 75px 0px 75px;
}

#skills{
    font-size: 30px;
}

#skills-list{
    list-style-type: circle;
    columns: 3;
    font-size: 24px;
    margin: 0;
    border: 1px solid;
}

.skill{
    margin: 5px 0px 5px 0px;
}

#examples{
    font-size: 30px;
}

.example-carousel{
    max-width: 500px;
    margin: auto;
}

#contact-title{
    font-size: 36px;
    margin-top: 65px;
}

.inputs {
    height: 100%;
    width: 50%;
    padding: 5px;
    margin: auto;
    box-sizing: border-box;
}

input {
    margin: 10px 0px 25px 0px;
    width: 100%;
}

label {
    color: #e6e6fa;
    font-size: 20px;
    margin: auto;
}

#message {
    margin-top: 10px;
    height: 200px;
    width: 100%;
}

#submit{
    width: 25%;
    text-align: center;
    margin-bottom: 100px;
}